<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-slides pager="true" [options]="slideOpts" #slide (ionSlideDidChange)="SlideDidChange(slider,slide)">

      <ion-slide *ngFor="let slider of slider.slidesItems">
        <img src="{{slider.url}}">
      </ion-slide>

    </ion-slides>
  </div>

  <div class="ion-content">

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2><b>O Novo Show do Pica-Pau</b></h2>
          <h5>(1999)</h5>
        </ion-text>
        <p>Família, Animação, Comédia &nbsp;&#9679;&nbsp; 15m</p>
      </ion-label>
    </ion-item>

    <div>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button shape="round" color="medium" size="small">
                <ion-icon name="list"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" color="medium" size="small">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" color="medium" size="small">
                <ion-icon name="bookmark"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" color="medium" size="small">
                <ion-icon name="star"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <b>Sinopse:</b>
        </ion-text>
        <ion-text>
          <p>
            O Novo Show do Pica-Pau, é uma nova série de desenhos animados do personagem Pica-Pau.
          </p>
        </ion-text>
      </ion-label>
    </ion-item>

  </div>

</ion-content>